@{
    ViewBag.Title = "Home Page";
}

@Html.ActionLink("LOG IN", "Login", "User", new { @class = "btn btn-primary" },null)
<p class="lead">Not a member?Sign up:</p>
@Html.ActionLink("SIGN UP", "SignUp", "User", new { @class = "btn btn-primary" },null)